<header class="row">
  <p class="col-xs-12 col-md-12 col-lg-12">
    <h1 class="text-center">
      <a href="http://timers.io">Timers.io</a>
    </h1>
  </p>
  <p class="lead text-center">
    <small>
      Multiple easy one finger swipe timers
    </small>
  </p>
</header>
<div class="row">
  <p class="col-xs-12 col-md-12 col-lg-12 text-center">
    <a href="https://itunes.apple.com/us/app/timers.io/id779382511?l=fr&ls=1&mt=8">
      <img class="app_store_link" src="/assets/Available_on_the_App_Store.png"/>
    </a>
  </p>
</div>
<div class="row">
  <p class="col-xs-12 col-md-12 col-lg-12 text-center">
    <small class="promotion text-center">Free until January, the 31st of 2014</small>
  </p>
</div>
<div class="row">
  <p class="col-xs-12 col-md-12 col-lg-12 text-center">
    <a href="https://itunes.apple.com/us/app/timers.io/id779382511?l=fr&ls=1&mt=8">
      <img class="screenshot" src="/assets/screenshot.png" >
    </a>
  </p>
</div>
<footer class="row">
  <p class="col-xs-12 col-md-12 col-lg-12">
    <ul class="text-center">
      <li class="circle-footer"><a href="mailto:contact@timers.io"><i class="fa fa-envelope"></i></a></li>
      <li class="circle-footer"><a href="https://twitter.com/timers_io"><i class="fa fa-twitter"></i></a></li>
      <li class="circle-footer"><a href="http://github.com/dbachet"><i class="fa fa-github-alt"></i></a></li>
    </ul>

  </p>
  <p class="col-xs-12 col-md-12 col-lg-12 text-center copyright">
    Damien Bachet ©
  </p>
</footer>